@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background: #fff;
    color: #000;
    font-family: 'Josefin Slab', serif;
    text-align: center;
}

.item-list {
    list-style-type: none;
}

.nav-link {
    font-size: 1.5em;
}

.navbar-brand {
    font-size: 3em;
}

.recipe {
    width: 300px;
}
